.hero
  color white
.nav-item
  a
    color: rgb(255, 113, 113) !important
    font-weight: bolder
.iconfont
  color: rgb(255, 112, 87) !important
  :hover
    color: orange !important
.navbar
  // position: absolute !important
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1) !important
  background: rgba(0,0,0,0) !important
  //background var(--background-color)
  a, span, img
    display inline-block !important
  .site-name
    font-size 1.2rem
    font-weight 600
    color rgb(0, 0, 0) !important
    position relative
  .links
    background-color: rgba(0,0,0,0) !important
.page-title
  // display: flex
  // justify-content: center
  // align-content: flex-start
  h1
    text-align: center
    font-size: 40px
  div
    display: flex
    justify-content: center